* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: inline;
}

figure {
    box-shadow: 2px 2px 2px #ededed;
}

a.btn {
    margin-top: 20px;
}

nav, .introduction {
    margin-bottom: 30px;
}