<html>
<head>
	<meta charset="UTF-8">
	<title>Population Analysis | {{ page }}</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous">
	<link rel="stylesheet"
		  type="text/css"
		  href="{{ url_for('static', filename='css/styles.css') }}"/>
	<script type="text/javascript"
			src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
	<script type="text/javascript"
			src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light justify-content-end"
	 style="background-color: #e3f2fd;">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"
			   href="#"
			   id="navbardrop"
			   data-toggle="dropdown">
				Analysis
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item"
				   href="{{ url_for('home') }}">Introduction</a>
				<a class="dropdown-item"
				   href="{{ url_for('effects') }}">Effects of declining population</a>
				<a class="dropdown-item"
				   href="{{ url_for('hypothesis') }}">Hypothesis</a>
				<a class="dropdown-item"
				   href="{{ url_for('live_births_rate') }}">Live birth rate</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link"
			   href="{{ url_for('setup') }}">Setup</a>
		</li>
		<li class="nav-item">
			<a class="nav-link"
			   href="{{ url_for('about') }}">About</a>
		</li>
	</ul>
</nav>

<div class="container">
	{% block content %}
	{% endblock %}
</div>

</body>
</html>