{% extends 'base.html' %}
{% block content %}
	<p>
		Now that we know that there is indeed a declining population, the next big question to ask ourselves is
		why is there such a problem faced.
	</p>
	<blockquote class="blockquote text-right">
		<p class="mb-0">
			More people getting married doesn't necessarily mean that more people will have children
		</p>
		<footer class="blockquote-footer">Paulin Straughan in <cite title="Source Title">The Straits
			Times</cite>
		</footer>
	</blockquote>
	<p>
		This could be attributed with couples, more specifically women, joining the workforce and deciding to put
		their careers ahead of starting a family, which might have been something that the past generations did not
		choose to do.
		<br>
		<br>
		Another potential reason could be due to the increase in cost of living in Singapore and the increase
		in cost of having children that deters the couples.
	</p>
{% endblock %}