{% extends 'base.html' %}
{% block content %}
	<p>
		To conclude, the problem of a declining birth rate in Singapore is a prevalent one that is influenced by a
		myriad of factors. Whilst the government has implemented many population strategies in the past, most do
		not show significant improvement and those that do see some effectiveness will often see a gradual drop
		overtime.
	</p>

	<p>The datasets used for this analysis:</p>
	<ul>
		<li>
			<a href="https://data.gov.sg/dataset/enrolment-primary-by-age"
			   target="_blank">Primary Enrolment</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/births-and-fertility-annual"
			   target="_blank">Live Births</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/live-births-by-occupation-of-mother-and-birth-order"
			   target="_blank">Live Births By Mother's Occupation</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/median-resale-prices-for-registered-applications-by-town-and-flat-type"
			   target="_blank">Median Housing Resale Price</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/job-vacancy-rates-by-industry-and-occupational-group-quarterly"
			   target="_blank">Job Vacancy Rate</a>
		</li>
	</ul>

	<p class="text-center"><strong>End!</strong></p>
{% endblock %}