{% extends 'base.html' %}
{% block content %}
	<p>
		The cost of living is affected by a myriad of factors such as the prices of housing and the number of
		job vacancies available.
	</p>

	<table class="table">
		<thead>
		<tr>
			<th scope="col">Indicator</th>
			<th scope="col">Relationship to cost of living</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Price of housing</th>
			<td>Direct</td>
		</tr>
		<tr>
			<th scope="row">Job Vacancy Rate</th>
			<td>Inverse</td>
		</tr>
		</tbody>
	</table>
	<p>Table: <em>Relationship between an indicator and the cost of living</em></p>

	<p>
		In order to confirm that the cost of living is indeed increasing in Singapore, we will be analyzing the
		following data sets:
	</p>
	<ol>
		<li>
			<a href="https://data.gov.sg/dataset/median-resale-prices-for-registered-applications-by-town-and-flat-type"
			   target="_blank">Median resale flat price</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/job-vacancy-rates-by-industry-and-occupational-group-quarterly"
			   target="_blank">Job vacancy rate</a>
		</li>
	</ol>
{% endblock %}
{% block gallery %}
	<div class="gallery">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a onclick="switchPlots('prices')"
				   id="prices-tab"
				   class="nav-link active"
				   href="#">Flat Type Prices</a>
			</li>
			<li class="nav-item">
				<a onclick="switchPlots('distribution')"
				   id="distribution-tab"
				   class="nav-link"
				   href="#">Flat Type Price Distribution</a>
			</li>
			<li class="nav-item">
				<a onclick="switchPlots('job-vacancy')"
				   id="job-vacancy-tab"
				   class="nav-link"
				   href="#">Job Vacancy</a>
			</li>
		</ul>
		<div class="charts">
			<figure class="border plot"
					id="prices">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/resale_price_distribution_box_Q1_all_time.svg') }}"/>
			</figure>
			<figure class="border plot"
					id="distribution"
					style="display: none;">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/resale_price_distribution_4-room_2015.svg') }}"/>
			</figure>
			<figure class="border plot"
					id="job-vacancy"
					style="display: none;">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/job_vacancy_rate.svg') }}"/>
			</figure>
		</div>
	</div>
{% endblock %}