{% extends 'base.html' %}
{% block content %}
	<p>
		The cost of living is affected by a myriad of factors such as the prices of housing and the number of
		job vacancies available.
	</p>

	<table class="table">
		<thead>
		<tr>
			<th scope="col">Indicator</th>
			<th scope="col">Relationship to cost of living</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Price of housing</th>
			<td>Direct</td>
		</tr>
		<tr>
			<th scope="row">Job Vacancy Rate</th>
			<td>Inverse</td>
		</tr>
		</tbody>
	</table>
	<p>Table: <em>Relationship between an indicator and the cost of living</em></p>

	<p>
		In order to confirm that the cost of living is indeed increasing in Singapore, we will be analyzing the
		following data sets:
	</p>
	<ol>
		<li>
			<a href="https://data.gov.sg/dataset/median-resale-prices-for-registered-applications-by-town-and-flat-type"
			   target="_blank">Median resale flat price</a>
		</li>
		<li>
			<a href="https://data.gov.sg/dataset/job-vacancy-rates-by-industry-and-occupational-group-quarterly"
			   target="_blank">Job vacancy rate</a>
		</li>
	</ol>
	<h3>Resale flat prices</h3>
	<p>
		The resale flat prices are observed has been increasing. This is a problem for couples as this will
		discourage them from having children since with more members in their family, they would need more apartment
		space, which might not be something that they are able to afford.
		<br>
		For instance, if a couple who already has 1 child wishes to have another child, that would mean they would need
		a 4-room flat since they wish to ensure both children have a conducive environment to grow up in, but moving
		from a 3-room flat to a 4-room flat would involve an estimated <strong>51%</strong> increase in cost of their
		flat, which might not be something they are able to afford, in conjunction with feeding 4 mouths now.
	</p>
	<h3>Job vacancy rate</h3>
	<p>
		The job vacancy rate has been sharply decreasing over time, with it continually fluctuating since 2006. This
		might present a problem for couples since with a lower rate of job vacancy and potential loss of job security,
		having too many children could spell trouble for the couple if they had too many mouths to feed.
	</p>
{% endblock %}
{% block gallery %}
	<div class="gallery">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a onclick="switchPlots('trend')"
				   id="trend-tab"
				   class="nav-link active">Flat Type Prices Trend</a>
			</li>
			<li class="nav-item">
				<a onclick="switchPlots('prices')"
				   id="prices-tab"
				   class="nav-link">Flat Type Prices</a>
			</li>
			<li class="nav-item">
				<a onclick="switchPlots('distribution')"
				   id="distribution-tab"
				   class="nav-link">Flat Type Price Distribution</a>
			</li>
			<li class="nav-item">
				<a onclick="switchPlots('job-vacancy')"
				   id="job-vacancy-tab"
				   class="nav-link">Job Vacancy</a>
			</li>
		</ul>
		<div class="charts">
			<figure class="border plot"
					id="trend">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/resale_price_trend.svg') }}"/>
			</figure>
			<figure class="border plot"
					id="prices"
					style="display: none;">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/resale_price_distribution_box_Q1_all_time.svg') }}"/>
			</figure>
			<figure class="border plot"
					id="distribution"
					style="display: none;">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/resale_price_distribution_4-room_2015.svg') }}"/>
			</figure>
			<figure class="border plot"
					id="job-vacancy"
					style="display: none;">
				<embed type="image/svg+xml"
					   src="{{ url_for('static', filename='images/plots/job_vacancy_rate.svg') }}"/>
			</figure>
		</div>
	</div>
{% endblock %}