{% extends 'base.html' %}
{% block content %}
    <p>
        When looking through the data sets available, one of them stood out to me the most, and that was the
        <a href="https://data.gov.sg/dataset/enrolment-primary-by-age"
           target="_blank">primary enrolment</a>
        data set which had shown a downward trend for the number of primary enrolments over the years. This
        was also where I had begun to consider how it could be an effect of a declining birth rate.
        <br>
        <br>
        <strong>Note: </strong>
        Primary enrolment rate is not the same as primary school admission, a student who is transferring into a
        school will enrol with their current age, thus explaining why some of the age of enrolment for some of the
        children are higher than others.
    </p>
{% endblock %}
{% block gallery %}
    <div class="gallery">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a onclick="switchPlots('male')"
                   id="male-tab"
                   class="nav-link active">Male</a>
            </li>
            <li class="nav-item">
                <a onclick="switchPlots('female')"
                   id="female-tab"
                   class="nav-link">Female</a>
            </li>
            <li class="nav-item">
                <a onclick="switchPlots('both')"
                   id="both-tab"
                   class="nav-link">Both</a>
            </li>
        </ul>
        <div class="charts">
            <figure class="border plot"
                    id="male">
                <embed type="image/svg+xml"
                       src="{{ url_for('static', filename='images/plots/enrolment_male.svg') }}"/>
            </figure>
            <figure class="border plot"
                    id="female"
                    style="display: none;">
                <embed type="image/svg+xml"
                       src="{{ url_for('static', filename='images/plots/enrolment_female.svg') }}"/>
            </figure>
            <figure class="border plot"
                    id="both"
                    style="display: none;">
                <embed type="image/svg+xml"
                       src="{{ url_for('static', filename='images/plots/enrolment_both.svg') }}"/>
            </figure>
        </div>
    </div>
{% endblock %}