{% extends 'base.html' %}
{% block content %}
	<script>
        function switchPlot(toSwitch) {
            let x = document.querySelectorAll('.plot');
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.querySelector('#' + toSwitch).style.display = "block";
            if (toSwitch === 'male') {
                document.querySelector('#male-tab').classList.add('active');
                document.querySelector('#female-tab').classList.remove('active');
                document.querySelector('#both-tab').classList.remove('active');
            } else if (toSwitch === 'female') {
                document.querySelector('#female-tab').classList.add('active');
                document.querySelector('#male-tab').classList.remove('active');
                document.querySelector('#both-tab').classList.remove('active');
            } else if (toSwitch === 'both') {
                document.querySelector('#both-tab').classList.add('active');
                document.querySelector('#female-tab').classList.remove('active');
                document.querySelector('#male-tab').classList.remove('active');
            }
        }
	</script>

	<div class="container">
		<div class="clearfix nav-buttons">
			<a href="{{ url_for('home') }}"
			   class="btn btn-info float-left"
			   role="button">< Back</a>
			<a href="{{ url_for('effects') }}"
			   class="btn btn-info float-right"
			   role="button">Next ></a>
		</div>
		<h1>Effects of declining population</h1>
		<p>
			When looking through the data sets available, one of them stood out to me the most, and that was the
			<a href="https://data.gov.sg/dataset/enrolment-primary-by-age"
			   target="_blank">primary enrolment</a>
			data set which had shown a downward trend for the number of primary enrolments over the years. This
			was also where I had begun to consider how it could be an effect of a declining population.
		</p>
		<div class="gallery">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a onclick="switchPlot('male')"
					   id="male-tab"
					   class="nav-link active"
					   href="#">Male</a>
				</li>
				<li class="nav-item">
					<a onclick="switchPlot('female')"
					   id="female-tab"
					   class="nav-link"
					   href="#">Female</a>
				</li>
				<li class="nav-item">
					<a onclick="switchPlot('both')"
					   id="both-tab"
					   class="nav-link"
					   href="#">Both</a>
				</li>
			</ul>
			<div class="charts">
				<figure class="border plot"
						id="male">
					<embed type="image/svg+xml"
						   src="{{ url_for('static', filename='images/plots/enrolment_male.svg') }}"/>
				</figure>
				<figure class="border plot"
						id="female"
						style="display: none;">
					<embed type="image/svg+xml"
						   src="{{ url_for('static', filename='images/plots/enrolment_female.svg') }}"/>
				</figure>
				<figure class="border plot"
						id="both"
						style="display: none;">
					<embed type="image/svg+xml"
						   src="{{ url_for('static', filename='images/plots/enrolment_both.svg') }}"/>
				</figure>
			</div>
		</div>
	</div>
{% endblock %}