{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<h2>Introduction</h2>
		<p>
			One of the problems that Singapore is facing is the problem of a declining population. In
			<a href="https://www.straitstimes.com/politics/parliament-no-major-changes-expected-to-immigration-policy-josephine-teo"
			   target="_blank">an article</a> about the issue, Mrs Josephine Teo, mentioned:
		</p>
		<blockquote>
			Singapore is not expected to change its immigration policy, and its population is likely to be
			"significantly below" 6.9 million by 2030
		</blockquote>
		<p>
			This is an intriguing problem since in school, we are taught about this declining population and the
			possible causes of it, but we have never seen this problem taking effect, so, what better way to do it than
			by analyzing data sets and trying to match the claims with the data.
		</p>

		<h2>Effects of declining population</h2>
		<p>
			There are several indications of this declining population, and one of them is the steady decline of <a
				href="https://data.gov.sg/dataset/enrolment-primary-by-age" target="_blank">primary enrolment:</a>
		</p>
		<figure>
			{{ enrolment_line_male.render() | safe }}
			<figcaption>Primary enrolment - Male</figcaption>
		</figure>
	</div>
{% endblock %}