{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<div class="clearfix nav-buttons">
			<a href="{{ url_for('effects') }}"
			   class="btn btn-info float-left"
			   role="button">< Back</a>
			<a href="{{ url_for('hypothesis') }}"
			   class="btn btn-info float-right"
			   role="button">Next ></a>
		</div>
		<h1>Hypothesis</h1>
		<p>
			From that data, it was very clear that something was going on with the enrolment rate. One of the
			most logical reasons for why the enrolment rate has begun to decline is due to the decrease of the
			population.
			<br>
			<br>
			However, this is simply a speculation, and the only way to prove that this is true, is to perhaps
			find some data that explicitly shows that the <strong><em>population in Singapore is
			declining</em></strong>, better yet, to show that the <strong><em>rate of live births</em></strong>
			in Singapore is decreasing as that has a much stronger link to the declining rate of enrolment.
		</p>
	</div>
{% endblock %}