{% extends 'base.html' %}
{% block content %}
    <p>
        From that data, it was very clear that something was going on with the enrolment rate. One of the
        most logical <strong><em>reasons for why the enrolment rate has begun to decline is due to the
        decrease of the live birth rate.</em></strong>
        <br>
        <br>
        However, this is simply a speculation, and the only way to prove that this is true, is to perhaps
        find some data that explicitly shows that the <em>live birth rate in Singapore is
        declining</em>.
    </p>
{% endblock %}