{% extends 'base.html' %}
{% block content %}
	<p>
		From that data, it was very clear that something was going on with the enrolment rate. One of the
		most logical <strong><em>reasons for why the enrolment rate has begun to decline is due to the
		decrease of the population.</em></strong>
		<br>
		<br>
		However, this is simply a speculation, and the only way to prove that this is true, is to perhaps
		find some data that explicitly shows that the <em>population in Singapore is
		declining</em>, better yet, to show that the <em>rate of live births</em>
		in Singapore is decreasing as that has a much stronger link to the declining rate of enrolment.
	</p>
{% endblock %}